* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 100%;
}

.country {
    flex-basis: 25%;
}