* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: cent;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 70%;
}

img {
    width: 100%;
}

.country {
    flex-basis: 21%;
}